DATABASE_URL="file:./dev.db"
ADMIN_EMAIL="gurprasad999@gmail.com"
ADMIN_PASSWORD="password"
SESSION_SECRET="thisIsMyRandomSecret123456789"
RESEND_API_KEY=""
NOTIFICATION_EMAIL=""
EMAIL_FROM="Agency Website <onboarding@resend.dev>"
