DATABASE_URL="postgresql://neondb_owner:npg_1TFboecNA3hM@ep-round-sunset-ax9y421t.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require"ADMIN_EMAIL="gurprasad999@gmail.com"
ADMIN_PASSWORD="password"
SESSION_SECRET="thisIsMyRandomSecret123456789"
RESEND_API_KEY=""
NOTIFICATION_EMAIL=""
EMAIL_FROM="Agency Website <onboarding@resend.dev>"
